.app {
  display: flex;
  flex-direction: row;
  margin-left: 4vw;
  margin-top: 4vh; }

.panel {
  display: flex;
  align-items: center;
  margin-left: 2vw;
}

.panel h1 {
    font-size: 230%;
    border: solid;
    padding: 0.6vw;
}
.panel .redFont {
    color: red;
}

.panel .blueFont {
    color: blue;
}

.row {
  display: flex;
  flex-direction: row;
}

/*# sourceMappingURL=Game.csss.map */
