.messageTitle {
    margin: 0 auto 3vh auto;
}

.messageBoxBtn {
    margin: 2vh auto 0 auto;
    width: 8vw;
    height: 7vh;
    font-size: 3vh;
    font-weight: bold;
}

.redPlayerMessage {
    color: red;
}

.bluePlayerMessage {
    color: blue;
}