.bluePawn, .blueMasterPawn, .redPawn, .redMasterPawn {
  display: flex;
  width: 4vw;
  height: 4vw;
  border-radius: 2vw; }

.bluePawn, .blueMasterPawn {
  background-color: blue; }

.redPawn, .redMasterPawn {
  background-color: red; }

.blueMasterPawn {
  position: relative;
  box-shadow: 0 0 0 0.8vw darkblue inset; }

.redMasterPawn {
  position: relative;
  box-shadow: 0 0 0 0.8vw darkred inset; }

.markedSquare {
  border: solid yellow;
  box-sizing: border-box; }


.black, .white {
  display: flex;
  justify-content: center;
  align-items: center; }

.white {
  background-color: gray;
  width: 5vw;
  height: 5vw; }

.black {
  background-color: black;
  width: 5vw;
  height: 5vw; }

.row {
  display: flex;
  flex-direction: row; }


/*# sourceMappingURL=Square.css.map */
