.opponentBtn {
    width: 75%;
    min-height: 30px;
    font-size: 140%;
    border-radius: 10%/50%;
    margin: 0 auto 4% auto;
    background-color: #b51b00ba;
}

.opponentDiv {
    display: flex;
    flex-direction: column;
    max-height: 60vh;
}