body {
  display: flex;
  justify-content: center;
  align-content: center; }

.outer {
  display: flex;
  width: 50vw;
  height: 80vh;
  background-image: url("./checkers_game.jpg");
  background-size: cover; }

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: rgba(204, 204, 204, 0.5); }

.title {
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  margin-bottom: 10vh;
  text-align: center; }

.button {
  width: 20vw;
  height: 10vh;
  margin-top: 5vh;
  font-size: 130%; }

/*# sourceMappingURL=Landing.css.map */
