.okCancelBtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4vh;
}
.okCancelBtn {
    margin-right: 1vw;
}
.inputField {
    margin-top: 5vh;
    height: 4vh;
    width: 20vw;
    margin-left: 2vw;
    border: solid 0.1vh;
    font-size: 3.5vh;
}